<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Matrimony Home</title>
</head>
<body>
<form action="register.do" method="post">
<br>
Name : <input type="text" name="name" placeholder="enter your name"/>
<br>
Age : <input type="number" name="age" placeholder="enter your age"/>
<br>
Gender : Male <input type="radio" name="gender" value="male"/>
Female <input type="radio" name="gender" value="female"/>
<br>
Height : <input type="number" name="height"/>
<br>
Qualification : <input type="text" name="qualification" placeholder="enter your qualification"/>

<br>
<input type="Submit" name="register" value="Register">
<input type="Reset" name="formreset" value="Reset">
</form>

</body>
</html>